ANTHROPIC_API_KEY=YOUR-ANTHROPIC-API-KEY
WORKSPACE_DIR=./workspace
MONGODB_URI=YOUR-MONGODB-URI
MONGODB_DB_NAME=YOUR-MONGODB-DB-NAME
JWT_SECRET_KEY=CHANGE_THIS_JWT_SECRET_MIN_32_CHARS
JWT_ALGORITHM=HS256
JWT_EXPIRE_DAYS=7